[Unit]
Description=WooDevOps service

[Service]
WorkingDirectory=/home/ubuntu/woodevops/
ExecStart=/usr/local/bin/dotnet /home/ubuntu/woodevops/BashScriptRunner.dll
Restart=always
# Restart service after 10 seconds if dotnet service crashes
RestartSec=10
SyslogIdentifier=woodevops
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target
